  body{text-align: center;
  background-image: url("../images/vecteezy_flat_background_dp1021.jpg");
  background-size: cover;
}
  header {
    display: inline;
    text-align: center;
  }
  h1 {
    font-family: "";
    margin: 5%;
    font-size: 300%;
    color: ghostwhite;
  }
  img{
    margin:25px;
    height: 100px;
    width: 100px;
  }

  nav {
    text-align: center;
  }
  div{ text-align: center;}
  a:link {
    margin: 2%;
    padding: 1%;
    background-color: ghostwhite;
    border-radius: 50%;
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    color: darkgoldenrod;
  }
  
  a:hover {
    color: darkred;
  }
  
  a:active {
    color: silver;
  }
  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #940794;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #ff0000;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #8b0404;
  padding: 20px;
}
footer{
  padding-inline: 500px;
  margin: 5px;
  background-color: whitesmoke;
  display: inline;
}
i{ margin : 5px;}